* {
    box-sizing: border-box;

    --bgColor: #32386D;

    --red: #FD3359;

    --yellow: #F4D302;

    --blue: #21BDFF;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#root {
    background: var(--bgColor);
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.layer-background {
    will-change: width, height, left, top;
    position: absolute;
    z-index: -1;
}

.layer-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--bgColor);
    z-index: 0;
}

#player-ambience {
    display: none;
}

#player-general {
    display: none;
}

.grid {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
}

.cell-x1 {
    width: 450px;
    height: 450px;
}

.cell-x2 {
    width: 225px;
    height: 225px;
}

.cell-x4 {
    width: 112px;
    height: 112px;
}

.card-content {
    height: 100%;
    transition: 250ms;
}

.color-transparent {
    background-color: transparent;
}

.color-white {
    background-color: white;
}

.color-red {
    background-color: var(--red);
}

.color-blue {
    background-color: var(--blue);
}

.color-yellow {
    background-color: var(--yellow);
}

.card-content:hover {
    /*cursor: pointer;*/
}

.card-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px var(--bgColor);
    z-index: -1;
}

.card-content-main.icon {
    font-size: 8rem;
}

.card-content-main.text {
    text-align: center;
    font-size: 1.1rem;
    text-transform: lowercase;
    font-weight: 500;
}

.card-content-footer {
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 20px;
}

.card-content-footer.icon {
    font-size: 4rem;
}
